src/wsdl/localhost_8080/ProyectoWedService_V1/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/ProyectoWedService_V1/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Iniciar_seccion">
<part name="parameters" element="tns:Iniciar_seccion"/>
</message>
<message name="Iniciar_seccionResponse">
<part name="parameters" element="tns:Iniciar_seccionResponse"/>
</message>
<message name="UpdateSaldo">
<part name="parameters" element="tns:UpdateSaldo"/>
</message>
<message name="UpdateSaldoResponse">
<part name="parameters" element="tns:UpdateSaldoResponse"/>
</message>
<message name="RegitrarUsuario">
<part name="parameters" element="tns:RegitrarUsuario"/>
</message>
<message name="RegitrarUsuarioResponse">
<part name="parameters" element="tns:RegitrarUsuarioResponse"/>
</message>
<portType name="Service">
<operation name="hello">
<input wsam:Action="http://sw/Service/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sw/Service/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Iniciar_seccion">
<input wsam:Action="http://sw/Service/Iniciar_seccionRequest" message="tns:Iniciar_seccion"/>
<output wsam:Action="http://sw/Service/Iniciar_seccionResponse" message="tns:Iniciar_seccionResponse"/>
</operation>
<operation name="UpdateSaldo">
<input wsam:Action="http://sw/Service/UpdateSaldoRequest" message="tns:UpdateSaldo"/>
<output wsam:Action="http://sw/Service/UpdateSaldoResponse" message="tns:UpdateSaldoResponse"/>
</operation>
<operation name="RegitrarUsuario">
<input wsam:Action="http://sw/Service/RegitrarUsuarioRequest" message="tns:RegitrarUsuario"/>
<output wsam:Action="http://sw/Service/RegitrarUsuarioResponse" message="tns:RegitrarUsuarioResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Iniciar_seccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegitrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8080/ProyectoWedService_V1/Service"/>
</port>
</service>
</definitions>