src/wsdl/localhost_8080/ProyectoSoap_V1/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/ProyectoSoap_V1/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Euro_Dollar">
<part name="parameters" element="tns:Euro_Dollar"/>
</message>
<message name="Euro_DollarResponse">
<part name="parameters" element="tns:Euro_DollarResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="OperacionMate">
<part name="parameters" element="tns:OperacionMate"/>
</message>
<message name="OperacionMateResponse">
<part name="parameters" element="tns:OperacionMateResponse"/>
</message>
<message name="Comparacion">
<part name="parameters" element="tns:Comparacion"/>
</message>
<message name="ComparacionResponse">
<part name="parameters" element="tns:ComparacionResponse"/>
</message>
<message name="Ecuacion">
<part name="parameters" element="tns:Ecuacion"/>
</message>
<message name="EcuacionResponse">
<part name="parameters" element="tns:EcuacionResponse"/>
</message>
<message name="FormulaSuma">
<part name="parameters" element="tns:FormulaSuma"/>
</message>
<message name="FormulaSumaResponse">
<part name="parameters" element="tns:FormulaSumaResponse"/>
</message>
<message name="Diccionario">
<part name="parameters" element="tns:Diccionario"/>
</message>
<message name="DiccionarioResponse">
<part name="parameters" element="tns:DiccionarioResponse"/>
</message>
<message name="Potencia">
<part name="parameters" element="tns:Potencia"/>
</message>
<message name="PotenciaResponse">
<part name="parameters" element="tns:PotenciaResponse"/>
</message>
<message name="Operacione_Basicas">
<part name="parameters" element="tns:Operacione_Basicas"/>
</message>
<message name="Operacione_BasicasResponse">
<part name="parameters" element="tns:Operacione_BasicasResponse"/>
</message>
<message name="Movimiento_Uniforme">
<part name="parameters" element="tns:Movimiento_Uniforme"/>
</message>
<message name="Movimiento_UniformeResponse">
<part name="parameters" element="tns:Movimiento_UniformeResponse"/>
</message>
<portType name="Service">
<operation name="hello">
<input wsam:Action="http://sv/Service/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/Service/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Euro_Dollar">
<input wsam:Action="http://sv/Service/Euro_DollarRequest" message="tns:Euro_Dollar"/>
<output wsam:Action="http://sv/Service/Euro_DollarResponse" message="tns:Euro_DollarResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://sv/Service/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://sv/Service/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="OperacionMate">
<input wsam:Action="http://sv/Service/OperacionMateRequest" message="tns:OperacionMate"/>
<output wsam:Action="http://sv/Service/OperacionMateResponse" message="tns:OperacionMateResponse"/>
</operation>
<operation name="Comparacion">
<input wsam:Action="http://sv/Service/ComparacionRequest" message="tns:Comparacion"/>
<output wsam:Action="http://sv/Service/ComparacionResponse" message="tns:ComparacionResponse"/>
</operation>
<operation name="Ecuacion">
<input wsam:Action="http://sv/Service/EcuacionRequest" message="tns:Ecuacion"/>
<output wsam:Action="http://sv/Service/EcuacionResponse" message="tns:EcuacionResponse"/>
</operation>
<operation name="FormulaSuma">
<input wsam:Action="http://sv/Service/FormulaSumaRequest" message="tns:FormulaSuma"/>
<output wsam:Action="http://sv/Service/FormulaSumaResponse" message="tns:FormulaSumaResponse"/>
</operation>
<operation name="Diccionario">
<input wsam:Action="http://sv/Service/DiccionarioRequest" message="tns:Diccionario"/>
<output wsam:Action="http://sv/Service/DiccionarioResponse" message="tns:DiccionarioResponse"/>
</operation>
<operation name="Potencia">
<input wsam:Action="http://sv/Service/PotenciaRequest" message="tns:Potencia"/>
<output wsam:Action="http://sv/Service/PotenciaResponse" message="tns:PotenciaResponse"/>
</operation>
<operation name="Operacione_Basicas">
<input wsam:Action="http://sv/Service/Operacione_BasicasRequest" message="tns:Operacione_Basicas"/>
<output wsam:Action="http://sv/Service/Operacione_BasicasResponse" message="tns:Operacione_BasicasResponse"/>
</operation>
<operation name="Movimiento_Uniforme">
<input wsam:Action="http://sv/Service/Movimiento_UniformeRequest" message="tns:Movimiento_Uniforme"/>
<output wsam:Action="http://sv/Service/Movimiento_UniformeResponse" message="tns:Movimiento_UniformeResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Euro_Dollar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OperacionMate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Comparacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ecuacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FormulaSuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Operacione_Basicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Movimiento_Uniforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8080/ProyectoSoap_V1/Service"/>
</port>
</service>
</definitions>